* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Cairo", sans-serif;
  background: url("./img/back.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  margin-top: 4rem;
}

.countdown-container {
  display: flex;
}

.big-text {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-e1 {
  text-align: center;
}

.countdown-e1 span {
  font-size: 1.5rem;
}
